## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Hermanus,-34.4187,19.2345,63.81,64,7,10.85,ZA,clear sky
1,1,Busselton,-33.6500,115.3333,65.95,45,3,13.38,AU,clear sky
2,2,Ketchikan,55.3422,-131.6461,37.38,69,0,0.00,US,clear sky
3,3,Port Alfred,-33.5906,26.8910,68.18,74,91,1.01,ZA,overcast clouds
4,4,Vaini,-21.2000,-175.2000,77.16,94,20,3.44,TO,few clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Hermanus,-34.4187,19.2345,63.81,64,7,10.85,ZA,clear sky
1,1,Busselton,-33.6500,115.3333,65.95,45,3,13.38,AU,clear sky
3,3,Port Alfred,-33.5906,26.8910,68.18,74,91,1.01,ZA,overcast clouds
4,4,Vaini,-21.2000,-175.2000,77.16,94,20,3.44,TO,few clouds
8,8,Kavieng,-2.5744,150.7967,83.71,73,83,13.18,PG,light rain
10,10,Chuy,-33.6971,-53.4616,61.09,85,69,5.35,UY,broken clouds
12,12,Avarua,-21.2078,-159.7750,75.25,94,98,2.30,CK,overcast clouds
13,13,Buchanan,5.8808,-10.0467,75.74,86,100,4.97,LR,light rain
14,14,Chicama,-7.8447,-79.1469,61.34,87,55,3.98,PE,broken clouds
15,15,Faanui,-16.4833,-151.7500,81.37,72,12,13.47,PF,few clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                346
City                   346
Lat                    346
Lng                    346
Max Temp               346
Humidity               346
Cloudiness             346
Wind Speed             346
Country                344
Current Description    346
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

clean_df.count()

City_ID                344
City                   344
Lat                    344
Lng                    344
Max Temp               344
Humidity               344
Cloudiness             344
Wind Speed             344
Country                344
Current Description    344
dtype: int64

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,63.81,clear sky,-34.4187,19.2345,
1,Busselton,AU,65.95,clear sky,-33.6500,115.3333,
3,Port Alfred,ZA,68.18,overcast clouds,-33.5906,26.8910,
4,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,
8,Kavieng,PG,83.71,light rain,-2.5744,150.7967,
10,Chuy,UY,61.09,broken clouds,-33.6971,-53.4616,
12,Avarua,CK,75.25,overcast clouds,-21.2078,-159.7750,
13,Buchanan,LR,75.74,light rain,5.8808,-10.0467,
14,Chicama,PE,61.34,broken clouds,-7.8447,-79.1469,
15,Faanui,PF,81.37,few clouds,-16.4833,-151.7500,

In [19]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    params["location"] = f"{lat},{lng}"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hermanus,ZA,63.81,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
1,Busselton,AU,65.95,clear sky,-33.6500,115.3333,Observatory Guest House
3,Port Alfred,ZA,68.18,overcast clouds,-33.5906,26.8910,The Halyards Hotel
4,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Kavieng,PG,83.71,light rain,-2.5744,150.7967,Nusa Island Retreat
10,Chuy,UY,61.09,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
12,Avarua,CK,75.25,overcast clouds,-21.2078,-159.7750,Paradise Inn
13,Buchanan,LR,75.74,light rain,5.8808,-10.0467,Kamaneahn Hotel Inc
14,Chicama,PE,61.34,broken clouds,-7.8447,-79.1469,Balihai Bungalows
15,Faanui,PF,81.37,few clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [22]:
# 7. Drop the rows where there is no Hotel Name.
#hotel_df.count()
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   344
Country                344
Max Temp               344
Current Description    344
Lat                    344
Lng                    344
Hotel Name             344
dtype: int64

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))